*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
input{
    display:none;
}
.container {
	display: block;
	max-width: 2000px;
	margin: 0 auto;
	text-align: center;
    width: 100%;
}
 
.photo-gallery {
	width: 450px;
	height: 100%;
	position: relative;
	margin: 2px;
	border-radius: 20px;
    border-color:black;

}
h1{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 40px 0;
    color:black; 
    animation: animation 3s infinite;
}
@keyframes animation{
    0%{color:rgb(170, 0, 255)};
    25%{color:rgb(43, 180, 226)};
    50%{color:rgb(0, 255, 89)};
}
h1::before{
    content:'';
    position: absolute;
    width:200px;
    height: 3px;
    background-color: palevioletred; 
    bottom: -10px;
    left:50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
}
h1:hover{
    color: rgb(11, 184, 253);
    font-family: 'Times New Roman', Times, serif;
}
@keyframes animate{
    0%{width:100px;background-color: blue;}
    50%{width: 200px;background-color:yellow;}
    100%{width: 100px;background-color: green;}
}
.top-content{
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 3px 3px 5px yellow;
    background-image:linear-gradient(rgb(0, 98, 255),rgb(52, 204, 255));
}
h3{
    background-color: rgb(red, green, blue);
    height: 100%;
    line-height: 60px;
    padding: 0 50px;
    color:rgb(0, 0, 0);
    font-size: 20px;
}
h3:hover{
    color: blueviolet;
    font-family:'Times New Roman', Times, serif
}
label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height:60px;
    font-size:20px;
    color:rgb(251, 255, 0);
    cursor: pointer;
    transition:color .5s;
}
label:hover{
    color:black;
    font-style: italic;
}
.photo-gallery{
   padding-top: 30px;
    width: 90%;
    height:500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:25px;

}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px red;
    cursor: pointer;
    transition: .5s;
    animation: move 4s linear infinite;
}
@keyframes move{
    0%{box-shadow: 3px 3px 5px red;}
    25%{box-shadow: 3px 3px 5px purple;}
    50%{box-shadow: 3px 3px 5px palevioletred;}
    75%{box-shadow: 3px 3px 5px yellow;}
    100%{box-shadow: 3px 3px 5px green;}
}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;
}
.pic::before{
    content:"Photo Gallery";
    position: absolute;
	top: 50%;
	left: 50%;
	color:blue;
    transform: translate(-50% ,-50%);
    font-size:22px ;
    font-weight:bold ;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}
.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(red, green, blue, alpha);
    transition: .3s;
}

.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}
#check1:checked ~.container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check2:checked ~.container .photo-gallery .award{
    transform: scale(1);
    position: relative;
    opacity: 1;
}
#check2:checked ~.container .photo-gallery .lablibrary,
#check2:checked ~.container .photo-gallery .campus{
opacity: 0;
transform: scale(1);
position: absolute;
transition: 0s;
}
#check3:checked ~.container .photo-gallery .lablibrary{
    transform: scale(1);
    position: relative;
    opacity: 1;
}
#check3:checked ~.container .photo-gallery .award,
#check3:checked ~.container .photo-gallery .campus{
opacity: 0;
transform: scale(0);
position: absolute;
transition: 0s;
}
#check4:checked ~.container .photo-gallery .campus{
    transform: scale(1);
    position: relative;
    opacity: 1;
}
#check4:checked ~.container .photo-gallery .award,
#check4:checked ~.container .photo-gallery .lablibrary{
opacity: 0;
transform: scale(0);
position: absolute;
transition: 0s;
}
form{
    display: flex;
    justify-content: right;
}
  
input{
    padding: 20px;
    width: 160px;
    height: 40px;
}